<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de Présentation</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#CV">CV</a></li>
                <li><a href="#E-PortFolio">E-PortFolio</a></li>
                <li><a href="#Pourensavoirplus">Pour en savoir plus<a/></li>
            </ul>
        </nav>
    </header>

    <section id="nom">
        <h1>Bienvenue sur ma page de présentation</h1>
        <p>AVOND Nathan</p>
    </section>
    <section id="group">
        <h2>Groupe</h2>
        <p>Goupe AB_B</p>
    </section>

    <section id="présentation">
        <h2>Présentation</h2>
        <p>phrase de présentation </p>
    </section>

    <footer>
        <p>&copy; 2025 AVOND Nathan. Tous droits réservés.</p>
    </footer>
</body>
</html>
